<!-- Contact Section -->
<section class = "success" section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Contact</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h3>Conveners</h3>
        <ul>
          <li><b>Ariel Deardorff</b> is the Director of Data Science & Open Scholarship at the <b>UCSF</b> Library. In her role she leads a team focused on empowering researchers to engage with open research and reproducible data-driven science. Ariel is also an open science advocate who performs research on the role of the Library in enabling open and reproducible research.</li>
          <li><b>Eileen Chen</b> is an Education and Research Librarian at <b>UCSF</b>. She offers support with literature searching, data management, and open access publishing.</li>
          <li><b>Kristen Greenland</b> is the Biology Librarian at <b>Stanford University</b>. She connects researchers with resources from the library and provides individual and classroom-based instruction on the research process in biology.</li>
          <li><b>Sam Teplitzky</b> is the Open Science Librarian at the <b>University of California, Berkeley</b>. She works on open science, data and code reproducibility, transparency in research workflows, and community building in STEM.</li>
        </ul>
        <h3>Join Us!</h3>
<p>Interested in joining the group or learning about future events?</p>

<p>Join the <a href="https://join.slack.com/t/bayareaopenscience/shared_invite/zt-143mx1ck2-PkM5WMagLrP1kPAY67cObg">discussion on Slack</a> or <a href="mailto:kgreenland@stanford.edu">email Kristen Greenland</a> to be added to the mailing list.</p>
        
      </div>
    </div>
  </div>
</section>
