<!-- Meeting Section -->
<section class = "success" section id="meetings">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Meetings</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      
        <p>The Bay Area Open Science Group meets on the 4th Tuesday of the month from 2-3 Pacific Time via Zoom.</p>
        
        <h3>Upcoming Meetings</h3>

<h4>September 29, 2026 (note: 5th Tuesday!) - Zoom Registration (TBD) </h4>
<h5>Evolving approaches to open science and research transparency education</h5>
<p style="padding-left: 40px;">This month we are joined by Jo Weech, Research Transparency Program Manager at the Berkeley Initiative for Transparency in the Social Sciences <a href="https://www.bitss.org">BITSS</a>. Jo supports teams working on academic forecasting, evidence aggregation, and reporting in economics. In addition to its research projects, BITSS hosts an annual conference and course on research transparency. Her presentation for the September meeting will be on how education in open science and research transparency has evolved due to changes in researcher norms and use of AI.</p>

        
        <h3>Past Meetings</h3>
      
        <ul>
          {% for post in site.categories.past-meetings %}
          <li>
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
          </li>
          {% endfor %}
        </ul>
      
        <br>
      
        <h4> Accessibility</h4>
        
        <p> We welcome all participants to our events. If you need a reasonable accommodation to participate in this event because of a disability, please contact Kristen Greenland at kgreenland@stanford.edu as soon as possible </p>
      
      </div>
    </div>
  </div>
</section>
