<!-- Meeting Section -->
<section class = "success" section id="meetings">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Meetings</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      
        <p>The Bay Area Open Science Group meets on the 4th Tuesday of the month from 2-3 Pacific Time via Zoom.</p>
        
        <h3>Upcoming Meetings</h3>
        
        <ul>
          <li>
          September 23, 2025, 2-3 PM - <a href="https://ucsf.zoom.us/meeting/register/7cZy6K9mTxaPyn4MKsJyGQ?_x_zm_rtaid=casjkSBATzWFFRm_GgPaGA.1754952396677.54d0a16d0b4eb7b3079c54ec7a9b094a&_x_zm_rhtaid=338#/registration">Zoom Registration</a><br>
          <b>Rescuing Federal Research Data</b><br>
          <ul>
          <li>
          This month Yea-Hung Chen and Ariel Deardorff from UCSF will present on efforts to safeguard disappearing government data. Since early 2025 several federal research datasets have been altered or deleted in response to executive orders from the White House. These actions have raised significant concerns about the accessibility and integrity of government data. For example, in February, several datasets from the US Census Bureau suddenly became unavailable, and others from the CDC were removed and then later restored. In this presentation, we will explore the latest developments in data censorship and the current efforts to rescue and preserve government datasets. You’ll learn about the organizations that have worked to preserve data, alternative sources of government data, and how you can get involved to protect valuable public information.<br>
          </li>
          </ul>
          </li>
          <li>
            October 28, 2025, 2-3 PM - <a href="https://ucsf.zoom.us/meeting/register/XJRHx7MOQEOH4Cq1BnNvJQ#/registration">Zoom Registration</a><br>
            <b>The UC OSPO Survey 2025: A multi-campus survey of open source contributors at the University of California</b><br>
            <ul>
            <li>
            This month Virginia Scarlett will be joining from UC Santa Barbara to discuss the 2025 UC OSPO Survey. Once considered a radical experiment, open source software is now ubiquitous in the modern technology landscape. In the technology industry, the Open Source Program Office (OSPO) is a common way to centralize a company’s open source strategy, knowledge, and diligence. Meanwhile, OSPOs are just beginning to take root in academia. While guidance for university OSPOs is emerging, many questions remain about how OSPOs best support their university’s strategic priorities and their community’s needs.<br><br>

The University of California (UC) OSPO Network is working to develop infrastructure for open source education, discovery, and sustainability at UC by pooling our resources and knowledge. To develop our strategic priorities and to assess the state of UC open source, we conducted a survey in April 2025 of more than 230 UC-affiliated open source contributors. This survey sheds light on how and why academics contribute to open source projects, as well as some of the barriers holding them back.<br>
          </li>
          </ul>
          </li>
          <li>November 18, 2025 (note 3rd Tuesday) - TBD</li>
        </ul>
        
        <h3>Past Meetings</h3>
      
        <ul>
          {% for post in site.categories.past-meetings %}
          <li>
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
          </li>
          {% endfor %}
        </ul>
      
        <br>
      
        <h4> Accessibility</h4>
        
        <p> We welcome all participants to our events. If you need a reasonable accommodation to participate in this event because of a disability, please contact Kristen Greenland at kgreenland@stanford.edu as soon as possible </p>
      
      </div>
    </div>
  </div>
</section>
