<!-- About Section -->
<section id="past-meetings">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      
      <table>
  <tr>
    <th>Title</th>
    <th>Date</th>
    <th>Presenter</th>
    <th>Affiliation</th>
  </tr>
  <tr>
    <td>Good practices better than none: Lowering the barrier to good research data management and sharing</td>
    <td>9/24/2024</td>
    <td>Abel Torres Espin</td>
    <td>School of Public Health Sciences, University of Waterloo, Adjunct at UCSF</td>
  </tr>
</table>
        
      
      </div>
    </div>
  </div>
</section>
