<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body id="page-top">
    {% include nav.html %}
    {% include header.html %}

    <section class="page-section">
      <div class="container">
        <h2 class="text-center" style="margin-bottom: 2rem;">{{ page.title }}</h2>
        
        <div style="padding-bottom: 3rem;">
        {{ content }}
        </div>
      
      <div class="text-center mt-5 mb-4">
        <a href="{{ site.baseurl }}/" class="btn btn-primary">
         ← Home
        </a>
      </div>
      </div>
    </section>

    {% include footer.html %}
    {% include js.html %}
  </body>
</html>

